.wrap{
  display: flex;
  justify-content: center;
  .list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;

    @media (max-width: #{600px}) {
      flex-direction: column;
      flex-flow: column;
    }
  }
}